* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: black;
}

.three-canvas {
    display: block;
}

#loading {
    position: absolute;
    color: white;
    top: 40%;
    left: 0;
    width: 100%;
    text-align: center;
    filter: none;
}

.paused {
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
    opacity: 0.8;
}

#paused-overlay {
    position: absolute;
    top: 30%;
    width: 30%;
    left: 35%;
    opacity: 0.6;
}

#paused-overlay p {
    width: 100%;
    text-align: center;
}

#map-mouse-overlay {
    position: absolute;
    display: flex;
    background-color: lightgray;
    margin-bottom: 10px;
    border-radius: 10px;
    border-style: ridge;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 0.8;
}

#map-mouse-overlay .body-name {
    text-transform: capitalize;
}

#hud {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0.6;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hud-overlay {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border-style: ridge;
    background-color: lightgray;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.hud-overlay .title {
    flex: 1 1 auto;
    text-align: center;
}

#warp {
    display: flex;
    flex-direction: row;
    margin-bottom: 3px;
    justify-content: space-between;
}

#warp-values {
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
}

#warp-description {
    flex: 0 1 auto;
}

#time-section {
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#time {
    flex: 0 1 auto;
}

#time-status {
    flex: 0 1 auto;
}

.status-running {
    color: green;
    font-weight: bold;
}

.status-paused {
    color: red;
    font-weight: bold;
}

.warp-enabled {
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 12.124px solid green;
    margin-right: 3px;
}

.warp-disabled {
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 12.124px solid white;
    margin-right: 3px;
}

.hud-overlay-entry {
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hud-overlay-entry .label {
    flex: 0 1 auto;
    padding-right: 10px;
}

.hud-overlay-entry .value {
    flex: 0 1 auto;
}

.help-button {
    position: absolute;
    right: 10px;
    top: 10px;
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    border-style: double;
    opacity: 0.8;
    font-family: Arial;
    color: #ffffff;
    font-size: 30px;
    background: #3498db;
    padding: 8px 15px 8px 15px;
    text-decoration: none;
    outline: none;
}

#help-overlay {
    position: absolute;
    width: 30%;
    top: 25%;
    left: 35%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border-style: ridge;
    background-color: lightgray;
    opacity: 0.9;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#help-overlay .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border-style: double;
    outline: none;
}

#help-overlay .title {
    flex: 1 1 auto;
    text-align: center;
}

.key-entry {
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.key-entry .keys {
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
}

.keys .key {
    flex: 0 1 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border: black;
    border-width: 3px;
    border-style: outset;
    border-color: lightgrey;
    background-color: white;
    padding-right: 3px;
    padding-left: 3px;
    font-size: x-large;
}

.keys .key+.key {
    margin-left: 5px;
}

.key-entry .description {
    flex: 0 1 auto;
    padding-left: 5px;
}

#stats {
    text-align: center;
    opacity: 0.9;
}

#stats-overlay {
    flex: 0 1 auto;
    border-radius: 0;
    border-style: none;
    background-color: inherit;
    opacity: 1.0;
}
