<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <title>Space Junker</title>
</head>

<body>
  <div id="camera-view" style="display: none;"></div>
  <div id="map-view" style="display: none;">
    <div id="map-mouse-overlay" style="display: none;">
      <h5 class="body-name">
      </h5>
    </div>
  </div>
  <div id="testing-view" style="display: none;"></div>
  <div id="hud" style="display: none;">
    <div class="hud-overlay">
      <div id="warp">
        <div id="warp-values">
        </div>
        <div id="warp-description">Warp</div>
      </div>
      <div id="time-section">
        <div id="time"></div>
        <div id="time-status"></div>
      </div>
    </div>
    <div class="hud-overlay" id="orbital-overlay">
      <h3 class="title">Orbital Statistics</h3>
      <div class="hud-overlay-entry">
        <div class="label">
          Name
        </div>
        <div class="value" id="orbital-name">
        </div>
      </div>
      <div class="hud-overlay-entry">
        <div class="label">
          Orbiting
        </div>
        <div class="value" id="orbital-primary">
        </div>
      </div>
      <div class="hud-overlay-entry">
        <div class="label">
          Speed
        </div>
        <div class="value" id="orbital-speed">
        </div>
      </div>
      <div class="hud-overlay-entry">
        <div class="label">
          Orbit Distance
        </div>
        <div class="value" id="orbital-distance">
        </div>
      </div>
      <div class="hud-overlay-entry">
        <div class="label">
          Periapsis
        </div>
        <div class="value" id="orbital-periapsis">
        </div>
      </div>
      <div class="hud-overlay-entry">
        <div class="label">
          Apoapsis
        </div>
        <div class="value" id="orbital-apoapsis">
        </div>
      </div>
      <div class="hud-overlay-entry">
        <div class="label">
          Eccentricity
        </div>
        <div class="value" id="orbital-eccentricity">
        </div>
      </div>
      <div class="hud-overlay-entry">
        <div class="label">
          Semi-Major Axis
        </div>
        <div class="value" id="orbital-semiMajorAxis">
        </div>
      </div>
      <div class="hud-overlay-entry">
        <div class="label">
          Semi-Minor Axis
        </div>
        <div class="value" id="orbital-semiMinorAxis">
        </div>
      </div>
      <div class="hud-overlay-entry">
        <div class="label">
          Orbital Period
        </div>
        <div class="value" id="orbital-period">
        </div>
      </div>
      <div class="hud-overlay-entry" id="orbital-rotation-period">
        <div class="label">
          Rotation Period
        </div>
        <div class="value">
        </div>
      </div>
      <div class="hud-overlay-entry" id="orbital-axial-tilt">
        <div class="label">
          Axial Tilt
        </div>
        <div class="value">
        </div>
      </div>

    </div>

    <div id="ship-overlay" class="hud-overlay">
      <h3 class="title">Ship</h3>
      <div class="hud-overlay-entry" id="ship-propellant">
        <div class="label">
          Propellant
        </div>
        <div class="value">
        </div>
      </div>
      <div class="hud-overlay-entry" id="ship-thrust">
        <div class="label">
          Thrust
        </div>
        <div class="value">
        </div>
      </div>
      <div class="hud-overlay-entry" id="ship-specific-impulse">
        <div class="label">
          Specific Impulse
        </div>
        <div class="value">
        </div>
      </div>
    </div>

    <div id="stats-overlay" class="hud-overlay">
    </div>
  </div>

  <div class="help-overlay" style="display: none;">
    <button class="close-button">X</button>
    <h3 class="title">Help</h3>
    <div class="key-entry">
      <div class="keys">
        <div class="key">[</div>
        <div class="key">]</div>
      </div>
      <div class="description">Toggle between Planets</div>
    </div>
    <div class="key-entry">
      <div class="keys">
        <div class="key">,</div>
        <div class="key">.</div>
      </div>
      <div class="description">Slow down / Speed up</div>
    </div>
    <div class="key-entry">
      <div class="keys">
        <div class="key">c</div>
      </div>
      <div class="description">Reset the camera</div>
    </div>
    <div class="key-entry">
      <div class="keys">
        <div class="key">m</div>
      </div>
      <div class="description">Toggle View</div>
    </div>
    <div class="key-entry">
      <div class="keys">
        <div class="key">space</div>
      </div>
      <div class="description">Pause</div>
    </div>
    <div class="key-entry">
      <div class="keys">
        <div class="key">Left-Shift</div>
      </div>
      <div class="description">Increase Throttle</div>
    </div>
    <div class="key-entry">
      <div class="keys">
        <div class="key">Left-Control</div>
      </div>
      <div class="description">Decrease Throttle</div>
    </div>
    <div class="key-entry">
      <div class="keys">
        <div class="key">w</div>
        <div class="key">s</div>
      </div>
      <div class="description">Pitch Up / Down</div>
    </div>
    <div class="key-entry">
      <div class="keys">
        <div class="key">a</div>
        <div class="key">d</div>
      </div>
      <div class="description">Yaw Left / Right</div>
    </div>
    <div class="key-entry">
      <div class="keys">
        <div class="key">q</div>
        <div class="key">e</div>
      </div>
      <div class="description">Roll Left / Right</div>
    </div>
    <div class="key-entry">
      <div class="keys">
        <div class="key">t</div>
      </div>
      <div class="description">Toggle Stability Assist</div>
    </div>
  </div>
  <button class="help-button">?</button>
  <script>
    var help_button = document.querySelector(".help-button");
    var close_help_button = document.querySelector(".help-overlay .close-button");
    var controls_overlay = document.querySelector(".help-overlay");
    help_button.addEventListener('click', function (event) {
      controls_overlay.style = '';
      event.preventDefault();
    });
    close_help_button.addEventListener('click', function (event) {
      controls_overlay.style = 'display: none;';
      event.preventDefault();
    });
  </script>

  <div id="loading">
    Loading textures, this may take a moment.
  </div>
</body>

</html>
