<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <title>Space Junker</title>
</head>

<body>
  <div id="camera-view" style="display: none;"></div>
  <div id="map-view" style="display: none;"></div>
  <div id="hud">
    <h4 id="time"></h4>
  </div>
  <div id="stats-overlay"></div>
</body>

</html>
