<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <title>Space Junker</title>
</head>

<body>
  <div id="camera-view" style="display: none;"></div>
  <div id="map-view" style="display: none;">
    <div id="map-mouse-overlay" style="display: none;">
      <h5 class="body-name"></h3>
    </div>
  </div>
  <div id="testing-view" style="display: none;"></div>
  <div id="hud" style="display: none;">
    <div class="hud-overlay">
      <div id="warp">
        <div id="warp-values">
        </div>
        <div id="warp-description">Warp</div>
      </div>
      <div id="time-section">
        <div id="time"></div>
        <div id="time-status"></div>
      </div>
    </div>
    <div class="hud-overlay" id="orbital-overlay">
      <h3 class="title">Orbital Statistics</h3>
      <div class="orbital-entry">
        <div class="label">
          Name
        </div>
        <div class="value" id="orbital-name">
        </div>
      </div>
      <div class="orbital-entry">
        <div class="label">
          Orbiting
        </div>
        <div class="value" id="orbital-primary">
        </div>
      </div>
      <div class="orbital-entry">
        <div class="label">
          Speed
        </div>
        <div class="value" id="orbital-speed">
        </div>
      </div>
      <div class="orbital-entry">
        <div class="label">
          Eccentricity
        </div>
        <div class="value" id="orbital-eccentricity">
        </div>
      </div>
      <div class="orbital-entry">
        <div class="label">
          Semi-Major Axis
        </div>
        <div class="value" id="orbital-semiMajorAxis">
        </div>
      </div>
      <div class="orbital-entry">
        <div class="label">
          Semi-Minor Axis
        </div>
        <div class="value" id="orbital-semiMinorAxis">
        </div>
      </div>
      <div class="orbital-entry">
        <div class="label">
          Orbital Period
        </div>
        <div class="value" id="orbital-period">
        </div>
      </div>
      <div class="orbital-entry">
        <div class="label">
          Rotation Period
        </div>
        <div class="value" id="orbital-rotation-period">
        </div>
      </div>
      <div class="orbital-entry">
        <div class="label">
          Axial Tilt
        </div>
        <div class="value" id="orbital-axial-tilt">
        </div>
      </div>

    </div>
    <div class="hud-overlay">
      <h3 class="title">Controls</h3>
      <div class="key-entry">
        <div class="keys">
          <div class="key">[</div>
          <div class="key">]</div>
        </div>
        <div class="description">Toggle between Planets</div>
      </div>
      <div class="key-entry">
        <div class="keys">
          <div class="key">,</div>
          <div class="key">.</div>
        </div>
        <div class="description">Slow down / Speed up</div>
      </div>
      <div class="key-entry">
        <div class="keys">
          <div class="key">c</div>
        </div>
        <div class="description">Reset the camera</div>
      </div>
      <div class="key-entry">
        <div class="keys">
          <div class="key">z</div>
        </div>
        <div class="description">Switch Views</div>
      </div>
      <div class="key-entry">
        <div class="keys">
          <div class="key">space</div>
        </div>
        <div class="description">Pause</div>
      </div>
      <div class="key-entry">
        <div class="keys">
          <div class="key">w</div>
          <div class="key">s</div>
        </div>
        <div class="description">Pitch Up / Down</div>
      </div>
      <div class="key-entry">
        <div class="keys">
          <div class="key">a</div>
          <div class="key">d</div>
        </div>
        <div class="description">Yaw Left / Right</div>
      </div>
      <div class="key-entry">
        <div class="keys">
          <div class="key">q</div>
          <div class="key">e</div>
        </div>
        <div class="description">Roll Left / Right</div>
      </div>
      <div class="key-entry">
        <div class="keys">
          <div class="key">t</div>
        </div>
        <div class="description">Toggle Stability Assist</div>
      </div>

    </div>
    <div id="stats-overlay" class="hud-overlay">
    </div>
  </div>
  <div id="loading">
    Loading textures, this may take a moment.
  </div>
</body>

</html>
